<ion-header>
  <ion-toolbar color="tertiary"> 
    <ion-buttons slot = "start">
      <ion-back-button></ion-back-button>
    </ion-buttons>    <ion-title>
      <ion-text color="light">Mis Asistencias</ion-text>
      <ion-text color="warning">Duoc</ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header> 

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-header>
      <ion-card-title>Iniciar Sesión</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form [formGroup] = "formularioLogin">
        <ion-item>
          <ion-label position="floating">Usuario</ion-label>
          <ion-input formControlName="nombre"></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-label position = "floating"> Contraseña </ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
        <ion-button (click)="ingresar()" color="tertiary">  <!--Aquí debería ir (click="ingresar()")-->
          Ingresar
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar color = "tertiary">
    <ion-buttons slot ="end">
      <ion-button [routerLink] = "['/registro']">Recuperar Contraseña</ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar>
    <ion-title size="small" text-center>
      © 2024 Antonia Pacheco. Todos los derechos reservados.
    </ion-title>
  </ion-toolbar>
</ion-footer>