<ion-header>
  <ion-toolbar color="tertiary"> 
    <ion-buttons slot = "start">
      <ion-back-button></ion-back-button>
    </ion-buttons>    <ion-title>
      <ion-text color="light">Mis Asistencias</ion-text>
      <ion-text color="warning">Duoc</ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header> 

<ion-content [fullscreen]="true">

 <ion-card>
  <img src="../assets/images/2.jpg" alt="App Logo" style="width: 50%; display: block; margin: 0 auto;" />
  <ion-card-header>
    <ion-card-subtitle>Inicia sesión con tu cuenta Duoc </ion-card-subtitle>
  </ion-card-header>

  <ion-card-content class="ion-padding-horizontal ion-padding-vertical">
    <form [formGroup]="formularioLogin">
      <ion-item class="ion-margin-bottom">
        <ion-label position="floating">Usuario</ion-label>
        <ion-input formControlName="nombre"></ion-input>
      </ion-item>
  
      <ion-item class="ion-margin-bottom">
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>

      <ion-button expand="block" (click)="ingresar()" color="tertiary" size="small">
        Ingresar
      </ion-button>
    </form>

    <ion-button expand="block" color="tertiary" [routerLink]="['/registro']" size="small">
      Recuperar Contraseña
    </ion-button>
  </ion-card-content>
</ion-card>


<ion-footer>
  <ion-toolbar color="tertiary">
    <ion-title  size="small" text-center>
      © 2024 Antonia Pacheco. Todos los derechos reservados.
    </ion-title>
  </ion-toolbar>
</ion-footer>