<ion-content [fullscreen]="true" class="content-container" color="light">
  <ion-card>
    <ion-card-header>
      <ion-card-title> </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <img src="../assets/images/2.jpg" alt="App Logo"/>
    </ion-card-content>
  </ion-card>


  <div class="image-container">
    <img src="../assets/images/Celu.png" alt="App Logo" class="login-image" />
  </div>
  <!--Probando los commits porque no me funucan-->
  
</ion-content>
  
<ion-footer >
  <ion-toolbar color="tertiary">
    <ion-button expand="full" (click)="iralLogin()" color="tertiary">
      <ion-text color="light">Toca aquí para comenzar</ion-text>
    </ion-button>
  </ion-toolbar>
</ion-footer>

