<ion-header [translucent]="true">
  <ion-toolbar color="primary"> 
    <ion-title>
      <ion-text color="light">Duoc</ion-text>
      <ion-text color="warning">Assist</ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

  <div class="login-welcome">
    <h2>El registro de asistencia como nunca antes visto</h2>
    <p>Fácil, rápido y eficiente. ¡Bienvenido a tu nueva forma de registrar la asistencia!</p>
  </div>

  <div class="image-container">
    <img src="../assets/images/reserva-cita-mujer-comprobando-smartphone.png" alt="App Logo" class="login-image" style="width: 200px; height: auto; margin-bottom: 10px;">
  </div>

  <ion-button expand="full" (click)="iralLogin()">
    Iniciar Sesión
  </ion-button>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title size="small" text-center>
      © 2024 HasbiTech. Todos los derechos reservados.
    </ion-title>
  </ion-toolbar>
</ion-footer>