.image-container {
  position: absolute;
  bottom: 0; /* Coloca la imagen justo encima del footer */
  left: 45%;
  transform: translateX(-50%);
}

.login-image {
  width: 150vw; /* La imagen ocupará el 80% del ancho de la pantalla */
  max-width: 400px; /* Tamaño máximo para pantallas grandes */
  height: auto; /* Mantiene la proporción */
}
