<ion-header>
  <ion-toolbar color="tertiary"> 
    <ion-buttons slot = "start">
      <ion-back-button></ion-back-button>
    </ion-buttons>    <ion-title>
      <ion-text color="light">Mis Asistencias</ion-text>
      <ion-text color="warning">Duoc</ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header> 

<ion-content [fullscreen]="true" class="content-container" color="light">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Una nueva manera de registrar asistencias</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>Haz click en el botón para comenzar</p>
    </ion-card-content>
  </ion-card>


  <div class="image-container">
    <img src="../assets/images/Celu.png" alt="App Logo" class="login-image" />
  </div>
  
</ion-content>
  
<ion-footer>
  <ion-toolbar color="tertiary">
    <ion-button expand="full" (click)="iralLogin()" color="tertiary">
      <ion-text color="light">Iniciar Sesión</ion-text>
    </ion-button>
  </ion-toolbar>
</ion-footer>
